.movie {
    position: relative;
}

.movie img {
    height: auto;
    width: 100%;
}

.movie-overlay {
    position: absolute;
    height: 0;
    width: 100%;
    opacity: 0;
    background-color: var(--primary);
    z-index: 1;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.3s ease-in-out;
}

.movie-overlay p {
    cursor: pointer;
}

.search .movie:hover > .movie-overlay {
    height: 150px;
    opacity: 1;
}

.movie-overlay p:hover {
    color: white;
}
