* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ff9900;
  --dark: black;
  --light: lightgrey;
}

body {
  font-family: var(--amplify-font-family);
}

.main {
  display: flex;
  flex-direction: row;
}

.page {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.page h1 {
  margin-bottom: 1rem;
}

.no-scroll {
  overflow: hidden;
}
